body {
  background: url('./Images/BG.jpg');
  background-repeat: no-repeat;
  /* background-position: center center;
  background-size: 100% 100%; */
}
/* .loginBG {
  background: url('./Images/BG.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
} */
.login {
    border-radius: 10px;
  background-color: #fff;
  width: 400px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.btnLogin {
  width: 100px !important;
  border-radius: 0px !important;
}
.btnGrp {
  display: flex;
  justify-content: space-between;
}
.btnForgetPassword {
  width: 100%;
  border: 1px solid !important;
  border-color: #cec7c7 !important;
  border-radius: 0px !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .LoginContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px; 
} */
.divbox {
  background-color: white;
  width: 400px;
  display: block;
  border-radius: 12px;
}
.tab {
  display: flex;
  justify-content: center;
}
.txtinput {
  width: 100%;
  border: 1px solid !important;
  border-color: #cec7c7 !important;
  border-radius: 0px !important;
}
